* {
  outline: none;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
}

body {
  text-align: center;
  user-select: none;
}

button {
  cursor: pointer;
  user-select: none;
  margin-bottom: 7px;
  padding: 7px 10px;
}
