$theme-color: #3490de;

.rc-panel {
  position: relative;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: $theme-color;
  width: 100%;
  max-width: 720px !important;
  padding: 0.75rem !important;
  border-radius: 10px !important;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  //   rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  box-shadow: #3490de66 0px 50px 100px -20px, #3490de88 0px 30px 60px -30px !important;
  text-align: left !important;

  * {
    outline: none;
    vertical-align: baseline;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .rc-panel-title {
    color: #fff !important;
    margin: 1rem auto 0 1rem !important;
    font-size: 2rem !important;
    font-weight: 600 !important;
  }

  .rc-panel-description {
    color: #ffffffcc !important;
    margin: 0.5rem 1rem 0 1rem !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
  }

  .rc-panel-steps {
    margin: 1.5rem 0 0 0 !important;

    &.rc-panel-steps-l,
    &.rc-panel-steps-s {
      display: flex !important;
      justify-content: space-between !important;

      .rc-panel-step {
        flex-grow: 1 !important;
        margin: 0.25rem !important;
        text-align: left !important;
        // line-height: 100%;
        padding: 0 !important;
        overflow: hidden !important;

        .rc-panel-step-header {
          // position: relative;
          line-height: 200% !important;
          padding: 0 0.5rem !important;
          margin: 0 !important;
        }

        .rc-panel-step-index {
          color: $theme-color;
        }

        .rc-panel-step-use {
          font-size: 1.1rem !important;
          float: right !important;
        }

        .rc-panel-step-name {
          line-height: 150% !important;
          margin: 1rem 0.5rem !important;
          font-size: 1rem !important;
          font-weight: 500 !important;
          color: #fff;
        }
      }
    }

    &.rc-panel-steps-l {
      flex-flow: row nowrap;
    }

    &.rc-panel-steps-s {
      flex-flow: column nowrap;
    }

    .rc-panel-step {
      // position: relative;
      border-radius: 7px !important;
      border-style: solid !important;
      border-width: 3px !important;
      background-color: #ffffff44;

      .rc-panel-step-index {
        color: #fff;
        font-weight: 700 !important;
      }

      .rc-panel-step-name {
        position: relative !important;
        display: inline-block !important;
      }

      .rc-panel-step-name::after {
        content: ' →' !important;
      }
    }

    .rc-panel-step-use-tip {
      visibility: hidden;
      width: max-content;
      background-color: #f73859;
      color: #fff;
      text-align: center;
      border-radius: 7px;
      padding: 5px 1rem !important;
      position: absolute;
      z-index: 10 !important;
      top: 110% !important;
      left: 50% !important;
      transform: translate(-50%, 0) !important;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .rc-panel-step-use:hover .rc-panel-step-use-tip {
      visibility: visible;
      opacity: 1;
    }

    .rc-panel-step-todo {
      border-color: #ffffff88;

      .rc-panel-step-header {
        background-color: #ffffff88;
      }

      &:hover {
        border-color: #ffffffaa;

        .rc-panel-step-header {
          background-color: #ffffffaa;
        }
      }

      &:active {
        border-color: #ffffffee;

        .rc-panel-step-header {
          background-color: #ffffffee;
        }
      }
    }

    .rc-panel-step-finished {
      border-color: #00adb5;

      .rc-panel-step-header {
        background-color: #00adb5;
      }
    }

    .rc-panel-step-finish {
      border-color: #ffffff88;
    }

    .rc-panel-step-inactive {
      opacity: 0.6;
      pointer-events: none;
    }

    .rc-panel-step-active {
      opacity: 1;
      cursor: pointer;
    }
  }
}
