.rc-buttons {
  z-index: 10;
}

.rc-absolute-buttons {
  position: fixed;
  text-align: right;
  bottom: 1.25rem;
  right: 1.25rem;
}

.rc-button {
  text-align: center !important;
  border: none !important;
  line-height: 150% !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  padding: 1rem 1.5rem !important;
  margin: 0.25rem !important;
  border-radius: 7px !important;
  cursor: pointer;
}

.rc-go-button {
  background: #ff9a00aa !important;
  color: #fff !important;

  &:hover {
    background: #ff9a00 !important;
  }

  &:active {
    background: #d68200 !important;
  }
}

.rc-cancel-button,
.rc-custom-button {
  background: #ffffffee !important;
  color: #333 !important;

  &:hover {
    background: #ddd !important;
  }

  &:active {
    background: #aaa !important;
    color: #000 !important;
  }
}

.rc-button:disabled {
  background: #ddd !important;
  color: #999 !important;
  cursor: default !important;
}
