#eye-side {
  font-weight: bold;
}

#blind-spot-canvas {
  position: fixed;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

// #blind-spot-instruction {
//   display: block !important;
//   top: 65%;
//   position: fixed;
// }

#pip-video {
  display: none;
}

#video-canvas {
  z-index: 1000;
  position: absolute;
  display: block;
  bottom: 1rem;
  left: 1rem;
  border-radius: 6px;
}

/* ----------------------------------- PD ----------------------------------- */

#rc-ruler {
  position: fixed;
  max-height: 120px;
  overflow: hidden;

  cursor: pointer;
  user-select: none;
}

#rc-ruler-scales {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 1;
  pointer-events: none;

  #size-arrow {
    transform: rotate(90deg) translate(0, calc(50% + 3px));
    opacity: 0.5;
  }

  .rc-ruler-scale-text {
    position: absolute;
    top: 32px !important;
    margin: 0 !important;
    padding: 0;
    color: #2c2e43aa;
    font-weight: 700;
    transform: translate(-50%, 0) !important;
  }

  .rc-ruler-scale {
    position: absolute;
    display: block;
    top: 0;
    width: 2px;
    transform: translate(-1px, 0);
    z-index: 2;
  }

  .rc-ruler-major {
    background-color: #2c2e43ee;
    height: 30px;
  }

  .rc-ruler-secondary {
    background-color: #595260dd;
    height: 24px;
  }

  .rc-ruler-minor {
    background-color: #59526066;
    height: 16px;
  }
}

/* ---------------------------------- Check --------------------------------- */

.hide-nudger {
  .calibration-nudger {
    display: none !important;
    opacity: 0 !important;
  }
}

.calibration-nudger,
.gaze-nudger {
  z-index: 999999999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
  text-align: center;
  scrollbar-width: none;

  * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

#rc-distance-correct {
  text-align: center;
  width: 100%;
  margin: 3rem auto auto auto;
  padding: 2rem;
  overflow-wrap: break-word;

  #rc-distance-correct-instruction {
    font-weight: 700;
    font-size: 7rem;
    margin: 2rem auto;
    line-height: 100%;
  }

  #rc-distance-correct-guide {
    font-weight: 500;
    font-size: 3rem;
    line-height: 150%;

    .rc-distance-num {
      padding: 0.5rem;
      border-radius: 7px !important;
      font-weight: 700;
      font-family: monospace !important;
      vertical-align: middle;
    }

    .rc-distance-now {
      border: 2px solid #ff9a00;
      background-color: #ff9a0066;
    }

    .rc-distance-desired {
      border: 2px solid #3490de;
      background-color: #3490de66;
    }
  }
}
