#eye-side {
  font-weight: bold;
}

#blind-spot-canvas {
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#blind-spot-instruction {
  top: 65%;
}

#pip-video {
  display: none;
}

#video-canvas {
  z-index: 1000;
  position: absolute;
  display: block;
  bottom: 1rem;
  left: 1rem;
  border-radius: 6px;
}
