#gaze-system-instruction {
  top: 65%;
  white-space: pre;
}

.gaze-calibration-dot {
  background: #ff005c80;
  position: fixed !important;
  display: block;
  cursor: initial;
  z-index: 9998;
}

.gaze-calibration-dot-click {
  position: absolute;
  background: #ff005c;
  margin: auto;
  cursor: pointer;
}

/* ----------------------------- WebGazer Native ---------------------------- */

#webgazerGazeDot {
  position: fixed;
  z-index: 9999;
  opacity: 0.5;
  background-color: #111d5e;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  pointer-events: none;
}

#webgazerVideoContainer {
  z-index: 9997;
  display: block;
  position: fixed;
  transform-origin: bottom left;
  /* left: 1rem !important;
  bottom: 1rem !important; */
  /* border-radius: 7px; */
  opacity: 0.8;
  overflow: hidden;
  pointer-events: none;
}

#webgazerFaceFeedbackBox {
  /* TODO Set style in sub-module */
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.6;
  pointer-events: none;
}
