/* background div */
#calibration-background {
  z-index: 999999990;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  /* background: #eee; */
  overflow: hidden;
  overflow-y: scroll;
  user-select: none;
  box-sizing: border-box;
  text-align: center;
  scrollbar-width: none;
}

#calibration-background::-webkit-scrollbar {
  width: 0;
  display: none;
}

#calibration-background * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#calibration-background p {
  line-height: 150%;
}

.calibration-instruction {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.calibration-instruction-scrollable {
  height: 200%;
}

.calibration-instruction h1 {
  min-width: 360px;
  font-weight: 700;
}

.calibration-instruction * {
  font-size: 1.2rem;
  line-height: 170%;
  margin: 0;
  padding: 0;
}

.calibration-instruction p {
  white-space: pre-line;
  margin-top: 1rem;
}

.calibration-description {
  line-height: 170%;
}

/* -------------------------------------------------------------------------- */
/* Screen size specific */

@media (min-width: 481px) {
  .calibration-instruction {
    margin: 2rem;
  }

  .calibration-instruction h1 {
    line-height: 100%;
    font-size: 2.5rem !important;
  }

  .calibration-description {
    width: calc(100% - 4rem);
    width: max(min(100% - 4rem, 960px), 300px);
  }

  .calibration-description,
  .calibration-description * {
    font-size: 1.2rem;
  }

  .calibration-credit-text {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 480px) {
  .calibration-instruction {
    margin: 1rem;
  }

  .calibration-instruction h1 {
    line-height: 120%;
    font-size: 1.8rem !important;
  }

  .calibration-description {
    width: calc(100% - 1rem);
  }

  .calibration-description,
  .calibration-description * {
    font-size: 1rem;
  }

  .calibration-credit-text {
    font-size: 0.7rem !important;
  }
}

.float-instruction {
  position: fixed;
  text-align: center;
  user-select: none;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 17px;
  margin: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 999999991;
}

/* -------------------------------------------------------------------------- */

.swal2-container {
  z-index: 999999999 !important;
}

/* -------------------------------------------------------------------------- */

.calibration-credit-text {
  position: fixed !important;
  width: 100% !important;
  bottom: 3px !important;
  color: #999 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 100% !important;
  text-align: center !important;
}

/* -------------------------------------------------------------------------- */

.lock-view {
  overflow: hidden !important;
}

/* -------------------------------------------------------------------------- */

.rc-lang-ltr {
  direction: ltr !important;
  text-align: left !important;
}

.rc-lang-rtl {
  direction: rtl !important;
  text-align: right !important;
}
