:root {
  --rc-panel-theme-color: #3490de;
  --rc-panel-darken-color: #185b94;
  --rc-panel-theme-color-semi: #3490de66;
  --rc-panel-darken-color-semi: #185b9488;
}

.rc-panel {
  position: relative;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: var(--rc-panel-theme-color);
  width: 100%;
  max-width: 720px !important;
  padding: 0.75rem !important;
  border-radius: 10px !important;
  box-shadow: var(--rc-panel-darken-color-semi) 0px 50px 100px -20px,
    var(--rc-panel-theme-color-semi) 0px 30px 60px -30px !important;
  overflow: hidden;

  * {
    outline: none;
    vertical-align: baseline;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: none;
  }

  .rc-panel-title {
    color: #fff !important;
    margin: 1rem 1rem 0 1rem !important;
    font-size: 2rem !important;
    font-weight: 600 !important;
  }

  .rc-panel-description {
    color: #ffffffcc !important;
    margin: 0.5rem 1rem 0 1rem !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
  }

  #rc-panel-language-parent {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;

    #rc-panel-lang-picker {
      display: block;
      background-color: #ffffffcc !important;
      border: none !important;
      outline: none !important;
      margin: 0.25rem 0.25rem 0 0.25rem !important;
      padding: 0.25rem !important;
      font-size: 1rem !important;
      font-weight: 500 !important;
      border-radius: 5px !important;
    }
  }

  .rc-panel-steps {
    margin: -3rem 0 0 0 !important;
    padding-top: 4rem !important;

    &.rc-panel-steps-l,
    &.rc-panel-steps-s {
      display: flex !important;
      justify-content: space-between !important;

      .rc-panel-step {
        position: relative;
        flex-grow: 1 !important;
        margin: 0.25rem !important;
        text-align: center;
        padding: 0 !important;
        background: #ffffffcc;
        transition: background-color 0.2s;

        // &:focus {
        //   outline: 3px solid black !important;
        // }

        .rc-panel-step-use {
          position: absolute;
          right: 0;
          top: 0;
          padding: 0 0.3rem !important;
          margin: 0 !important;
          font-size: 1rem !important;
          line-height: 170% !important;

          svg {
            width: 1rem;
            height: 1rem;
            fill: var(--rc-panel-darken-color);
          }
        }

        .rc-panel-step-name {
          line-height: 150% !important;
          font-size: 1rem !important;
          font-weight: 700 !important;
          color: var(--rc-panel-darken-color);
          white-space: nowrap;
        }
      }
    }

    &.rc-panel-steps-l {
      flex-flow: row nowrap;
      max-width: 100%;
      overflow-x: scroll;

      .rc-panel-step-name {
        margin: 1.5rem 0.5rem !important;
      }

      .rc-panel-step-use-tip {
        position: absolute !important;
        display: flex !important;
        bottom: 110% !important;
        left: 50% !important;
        transform: translate(-50%, 0) !important;
      }
    }

    &.rc-panel-steps-s {
      flex-flow: column nowrap;
      overflow-x: hidden;

      .rc-panel-step {
        text-align: left;
        overflow-x: hidden;
        white-space: nowrap;
      }

      .rc-panel-step-name {
        margin: 1.2rem 0.75rem 1.2rem 1.5rem !important;
      }

      .rc-panel-step-use-tip {
        position: relative !important;
        display: inline-flex !important;
      }
    }

    .rc-panel-step {
      border-radius: 7px !important;
      border: none !important;

      .rc-panel-step-name {
        position: relative !important;
        display: inline-block !important;
      }
    }

    // .rc-panel-next-button {
    //   .rc-panel-step-name::after {
    //     content: ' →' !important;
    //   }
    // }

    .rc-panel-step-use-tip {
      // visibility: hidden;
      // backdrop-filter: blur(2px);
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px !important;
      opacity: 0;
      width: max-content !important;
      background-color: #ff9a00ee !important;
      color: #fff !important;
      text-align: center !important;
      justify-content: center !important;
      align-items: center !important;
      font-size: 0.75rem !important;
      font-weight: 500 !important;
      border-radius: 7px !important;
      border: none !important;
      padding: 0.7rem 0.5rem !important;
      margin: 0 !important;
      z-index: 10 !important;
      line-height: 100% !important;
      transition: opacity 0.2s;
      pointer-events: none;

      svg {
        width: 0.75rem;
        height: 0.75rem;
        fill: #fff;
      }

      svg:last-of-type {
        margin-right: 5px;
      }
    }

    .rc-panel-step-todo {
      &:hover,
      &:focus {
        background-color: #fff;

        .rc-panel-step-use-tip {
          // visibility: visible !important;
          opacity: 1 !important;
        }
      }

      &:active {
        background-color: #eeeeeecc;
      }
    }

    .rc-panel-step-finished {
      background-color: #bbbbbbcc !important;
    }

    .rc-panel-step-inactive {
      opacity: 0.6;
      pointer-events: none;
    }

    .rc-panel-step-active {
      opacity: 1;
      cursor: pointer;
    }
  }

  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  /* ---------------------------------- DEBUG --------------------------------- */

  .rc-panel-debug-control {
    margin: 0;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 3px solid #ee0000;
    border-radius: 7px;
    background-color: #ffffffcc;
    overflow: hidden;

    * {
      color: #ac0d0d;
    }

    h2,
    h3,
    p {
      margin: 0 !important;
    }

    h2 {
      font-weight: 700 !important;
      font-size: 1.2rem !important;
    }

    h3 {
      font-variant: small-caps;
      font-size: 0.9rem;
      font-weight: 500;
      padding-top: 0.5rem;
      padding-bottom: 0.3rem;
    }

    .rc-panel-debug-bold-text {
      font-size: 1rem !important;
      font-weight: bold;
    }

    .rc-panel-debug-control-next {
      font-size: 0.9rem !important;
      margin: 1rem 0 0 0;
      color: #fff;
      background-color: #ee0000;
      padding: 0.5rem 1.2rem !important;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #ac0d0d;
      }
    }

    .rc-panel-debug-control-task-row {
      display: inline-flex;
      justify-content: flex-start !important;
      width: 100%;

      .value-element {
        flex-grow: 1;
        padding: 0 0.1rem;
        overflow-x: hidden;
        white-space: nowrap;
        // max-width: 10rem;
        user-select: none;
        pointer-events: none;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
        }

        p {
          padding-left: 1px !important;
          line-height: 150% !important;
          font-size: 0.65rem !important;
          color: #ac0d0d;
        }

        input {
          margin: 0 !important;
          padding: 0.3rem !important;
          font-size: 0.8rem;
          width: 100%;
          border: 1px solid #ee9999 !important;
          border-radius: 3px !important;
          background-color: #ffffffcc;
          user-select: auto;
          pointer-events: auto;
        }
      }
    }
  }
}
