.slider {
  position: absolute;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 4rem);
  height: 30px;
  background: #fff;
  opacity: 0.7;
  /* top: max(45%, 200px); */
  left: 2rem;
  border-radius: 15px;
  z-index: 1;
  cursor: grab;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.slider:hover {
  opacity: 0.99;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #666;
  cursor: inherit;
}

.slider::-moz-range-thumb,
.slider::-ms-thumb {
  width: 20px;
  height: 30px;
  border-radius: 15px;
  background: #666;
  cursor: inherit;
}

/* -------------------------------------------------------------------------- */

#size-card,
#size-usba,
#size-usbc {
  position: absolute;
  display: block;
  /* top: calc(max(45%, 200px) + 50px); */
  left: 2rem;
  height: auto;
  z-index: 2;
}

#size-arrow {
  position: absolute;
  display: block;
  width: 70px;
  height: auto;
  z-index: 3;
}

#size-arrow-fill {
  transition: fill 0.1s;
}

.minor {
  transition: opacity 0.1s;
}

.slider:hover ~ .size-obj .minor,
.slider:active ~ .size-obj .minor {
  opacity: 0;
}

/* -------------------------------------------------------------------------- */

#matching-obj {
  border-radius: 7px;
  border: none;
  background-color: #fff;
  padding: unset 0.3rem;
  margin: unset 0.3rem;
  font-weight: 600;
  font-size: 1.1rem;
  vertical-align: middle;
}

@media (min-width: 481px) {
  .rc-size-obj-selection {
    display: inline-flex;
  }
}

@media (max-width: 480px) {
  .rc-size-obj-selection {
    display: inline-block;
  }
}
