.rc-slider {
  position: absolute;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 4rem);
  height: 10px;
  background: linear-gradient(90deg, #ffc772, #ffc772 60%, #fff 60%);
  opacity: 0.8;
  /* top: max(45%, 200px); */
  left: 2rem;
  border-radius: 5px;
  z-index: 1;
  cursor: grab;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  direction: ltr !important;
}

.rc-slider:hover {
  opacity: 0.99;
}

.rc-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #ff9a00;
  box-shadow: 0 0 12px 0 #88520033;
  cursor: inherit;
}

.rc-slider::-moz-range-thumb,
.rc-slider::-ms-thumb {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #ff9a00;
  cursor: inherit;
}

/* -------------------------------------------------------------------------- */

#size-card,
#size-usba,
#size-usbc {
  position: absolute;
  display: block;
  /* top: calc(max(45%, 200px) + 50px); */
  left: 2rem;
  height: auto;
  z-index: 2;
}

#size-arrow {
  position: absolute;
  display: block;
  /* display: none; */
  width: 70px;
  height: auto;
  z-index: 3;
}

#size-arrow-fill {
  transition: fill 0.3s;
}

.minor {
  transition: opacity 0.25s;
}

/* .rc-slider:hover ~ .size-obj .minor, */
.rc-slider:active ~ .size-obj .minor {
  opacity: 0;
}

/* -------------------------------------------------------------------------- */

#matching-obj {
  border-radius: 7px;
  border: none;
  background-color: #fff;
  padding: unset 0.3rem;
  margin: unset 0.3rem;
  font-weight: 600;
  font-size: 1.1rem;
  vertical-align: middle;
}

@media (min-width: 481px) {
  .rc-size-obj-selection {
    display: inline-flex;
  }
}

@media (max-width: 480px) {
  .rc-size-obj-selection {
    display: inline-block;
  }
}
